<h1>Your To-do Lists</h1>

<div class="row">
  <div class="col-md-8">
    <% @lists.each do |list| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to list.name, list %>
          </h4>
          <small>
            <%= list.description %>
          </small>
        </div>
      </div>
    <% end %>
    <%= will_paginate @lists %>
  </div>
  <div class="col-md-4">
    <% if policy(List.new).create? %>
      <%= link_to "New List", new_list_path, class: 'btn btn-success' %>
    <% end %>
  </div>
</div>