<h2>Hello <%= @user.name %>!</h2>

<div class="column" class="justify">
</br>
<h4> Thank you for trying out ScratchItOff. If you have suggestions to improve our application, or bugs to report, please send us a quick email <a href="mailto:christopher@scratchitoff.co"> here </a>.</h4>
</div>