<h1 align="center">About ScratchItoff</h1>
<br/>
<div class="jumbotron">

<p>ScratchItOff aims to be simple and useful. A platform agnostic service, available anytime you have a connection to the net. </p>
<br/>
<p> Just log in, view your current list, edit it as things are accomplished. At the end of the day, to-dos that are marked as complete are deleted.  After one week, a list item is deleted, no exceptions. 
<br/>
<br/>
<center><h2> Let's get things done! </h2> </p>
<p> --your dev, <a href="mailto:christopher@scratchitoff.co"> Christopher </a> </p>
</center>
</div>
