<h1 align="center">About ScratchItoff</h1>
<br/>
<div class="jumbotron">

<p>ScratchItOff aims to be simple and useful. A platform agnostic service, available anytime you have a connection to the net. </p>
<br/>
<p> Just log in, view your current list, edit it as things are accomplished. At the end of the day, whatever isn't finished is sent as an email, to motivate you to jump right into it the next day. After one week, a list item is deleted, no exceptions. 
<br/>
<br/>
<center><h2> Let's get things done! </h2> </p></center>
</div>
