<br/>
<div class="jumbotron">
  <h1>ScratchItOff</h1>
  <p>ScratchItOff is a powerful to-do list for people who want to get things done.</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  
</div>