<h1>Edit Post</h1>

<div class="row">
 <div class="col-md-4">
    <p>Guidelines for posts</p>
    <ul>
      <li>Each post is an item in your to-do list.</li>
      <li>Make your post title pithy and descriptive.</li>
      <li>Describe what needs to be done, and how to accomplish it, within the body of the post. </li>
    </ul>
  </div>
  <div class="col-md-8">
      <%= render partial: 'form', locals: { list: @list, post: @post } %>
  </div>
</div>