@import "bootstrap";

.nav {
  margin-top: 5px;
  padding-bottom: 10px;
}

#container {
min-height: 100%;
margin-bottom: -330px;
position: relative;
}

.user-info {
  margin-top: 9px;
}

.footer-spacer {
  height: 330px;
  clear: both;
}

.footer {

height: 180px;
position: relative;
padding: 40px;

background: rgba(128,128,128,1);
background: -moz-linear-gradient(top, rgba(128,128,128,1) 0%, rgba(117,117,117,1) 34%, rgba(71,71,71,1) 66%, rgba(46,46,46,1) 91%, rgba(31,31,31,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(128,128,128,1)), color-stop(34%, rgba(117,117,117,1)), color-stop(66%, rgba(71,71,71,1)), color-stop(91%, rgba(46,46,46,1)), color-stop(100%, rgba(31,31,31,1)));
background: -webkit-linear-gradient(top, rgba(128,128,128,1) 0%, rgba(117,117,117,1) 34%, rgba(71,71,71,1) 66%, rgba(46,46,46,1) 91%, rgba(31,31,31,1) 100%);
background: -o-linear-gradient(top, rgba(128,128,128,1) 0%, rgba(117,117,117,1) 34%, rgba(71,71,71,1) 66%, rgba(46,46,46,1) 91%, rgba(31,31,31,1) 100%);
background: -ms-linear-gradient(top, rgba(128,128,128,1) 0%, rgba(117,117,117,1) 34%, rgba(71,71,71,1) 66%, rgba(46,46,46,1) 91%, rgba(31,31,31,1) 100%);
background: linear-gradient(to bottom, rgba(128,128,128,1) 0%, rgba(117,117,117,1) 34%, rgba(71,71,71,1) 66%, rgba(46,46,46,1) 91%, rgba(31,31,31,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#808080', endColorstr='#1f1f1f', GradientType=0 );
}
